@import '../common';

.navbar {
  background-color: #3498db;
  padding: 1rem;
  text-align: center;

  .nav-links {
    display: inline-block;

    a {
      color: #ffffff;
      font-size: 1.6rem;
      text-decoration: none;
    }

    span {
      padding: 0 10px;
      display: inline-block;
    }

    .active {
      text-decoration: underline;
    }
  }
}
